<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Free/IdeaProjects/Test">
        <classes>
            <class name="Tests.LoginTest">
            <methods>
                <include name="loginTest"/>
            </methods>
        </class>
            <class name="Tests.HomeTest">
                <methods>
                    <include name="CartProcess"/>
                </methods>
            </class>
            <class name="Tests.CartTest">
                <methods>
                    <include name="CartPageTest"/>
                    <include name="testItemDisplay"/>
                    <include name="testItemDisplay2"/>
                </methods>
            </class>
            <class name="Tests.CheckoutTest">
                <methods>
                    <include name="Data"/>
                </methods>
            </class>
            <class name="Tests.ReviewChTest">
                <methods>
                    <include name="ReviewChTest"/>
                </methods>
            </class>
            <class name="Tests.CompleteTest">
                <methods>
                    <include name="completeTest"/>
                </methods>
            </class>


        </classes>
    </test>
</suite>